In [5]:
#importing libararies 
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [6]:
df=pd.read_csv("movies.csv")

In [7]:
df

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7663,More to Life,NaN,Drama,2020,"October 23, 2020 (United States)",3.1,18.0,Joseph Ebanks,Joseph Ebanks,Shannon Bond,United States,7000.0,NaN,NaN,90.0
7664,Dream Round,NaN,Comedy,2020,"February 7, 2020 (United States)",4.7,36.0,Dusty Dukatz,Lisa Huston,Michael Saquella,United States,NaN,NaN,Cactus Blue Entertainment,90.0
7665,Saving Mbango,NaN,Drama,2020,"April 27, 2020 (Cameroon)",5.7,29.0,Nkanya Nkwai,Lynno Lovert,Onyama Laura,United States,58750.0,NaN,Embi Productions,NaN
7666,It's Just Us,NaN,Drama,2020,"October 1, 2020 (United States)",NaN,NaN,James Randall,James Randall,Christina Roz,United States,15000.0,NaN,NaN,120.0
7667,Tee em el,NaN,Horror,2020,"August 19, 2020 (United States)",5.7,7.0,Pereko Mosia,Pereko Mosia,Siyabonga Mabaso,South Africa,NaN,NaN,PK 65 Films,102.0

In [9]:
df.isnull().sum()

name           0
rating        77
genre          0
year           0
released       2
score          3
votes          3
director       0
writer         3
star           1
country        3
budget      2171
gross        189
company       17
runtime        4
dtype: int64

In [17]:
df.dtypes

name         object
rating       object
genre        object
year          int64
released     object
score       float64
votes       float64
director     object
writer       object
star         object
country      object
budget      float64
gross       float64
company      object
runtime     float64
dtype: object

In [21]:
df["budget"] = df["budget"].fillna(0)

df["gross"] = df["gross"].fillna(0)

df["votes"] = df["votes"].fillna(0)

df["company"] = df["company"].fillna("unknown")

In [22]:
df.isnull().sum()

name         0
rating      77
genre        0
year         0
released     2
score        3
votes        0
director     0
writer       3
star         1
country      3
budget       0
gross        0
company      0
runtime      4
dtype: int64

In [23]:
df["budget"] = df["budget"].astype("int64")

df["gross"] = df["gross"].astype("int64")

df["votes"] = df["votes"].astype("int64")

In [20]:
df.dtypes

name         object
rating       object
genre        object
year          int64
released     object
score       float64
votes       float64
director     object
writer       object
star         object
country      object
budget        int64
gross         int64
company      object
runtime     float64
dtype: object

In [24]:
df

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000,46998772,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000,58853106,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000,538375067,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000,83453539,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000,39846344,Orion Pictures,98.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7663,More to Life,NaN,Drama,2020,"October 23, 2020 (United States)",3.1,18,Joseph Ebanks,Joseph Ebanks,Shannon Bond,United States,7000,0,unknown,90.0
7664,Dream Round,NaN,Comedy,2020,"February 7, 2020 (United States)",4.7,36,Dusty Dukatz,Lisa Huston,Michael Saquella,United States,0,0,Cactus Blue Entertainment,90.0
7665,Saving Mbango,NaN,Drama,2020,"April 27, 2020 (Cameroon)",5.7,29,Nkanya Nkwai,Lynno Lovert,Onyama Laura,United States,58750,0,Embi Productions,NaN
7666,It's Just Us,NaN,Drama,2020,"October 1, 2020 (United States)",NaN,0,James Randall,James Randall,Christina Roz,United States,15000,0,unknown,120.0
7667,Tee em el,NaN,Horror,2020,"August 19, 2020 (United States)",5.7,7,Pereko Mosia,Pereko Mosia,Siyabonga Mabaso,South Africa,0,0,PK 65 Films,102.0

In [28]:
df.drop_duplicates()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000,46998772,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000,58853106,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000,538375067,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000,83453539,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000,39846344,Orion Pictures,98.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7663,More to Life,NaN,Drama,2020,"October 23, 2020 (United States)",3.1,18,Joseph Ebanks,Joseph Ebanks,Shannon Bond,United States,7000,0,unknown,90.0
7664,Dream Round,NaN,Comedy,2020,"February 7, 2020 (United States)",4.7,36,Dusty Dukatz,Lisa Huston,Michael Saquella,United States,0,0,Cactus Blue Entertainment,90.0
7665,Saving Mbango,NaN,Drama,2020,"April 27, 2020 (Cameroon)",5.7,29,Nkanya Nkwai,Lynno Lovert,Onyama Laura,United States,58750,0,Embi Productions,NaN
7666,It's Just Us,NaN,Drama,2020,"October 1, 2020 (United States)",NaN,0,James Randall,James Randall,Christina Roz,United States,15000,0,unknown,120.0
7667,Tee em el,NaN,Horror,2020,"August 19, 2020 (United States)",5.7,7,Pereko Mosia,Pereko Mosia,Siyabonga Mabaso,South Africa,0,0,PK 65 Films,102.0

In [33]:
df.describe()

,year,score,votes,budget,gross,runtime
count,7668.000000,7665.000000,7.668000e+03,7.668000e+03,7.668000e+03,7664.000000
mean,2000.405451,6.390411,8.807403e+04,2.551350e+07,7.656567e+07,107.261613
std,11.153508,0.968842,1.633011e+05,3.858954e+07,1.641217e+08,18.581247
min,1980.000000,1.900000,0.000000e+00,0.000000e+00,0.000000e+00,55.000000
25%,1991.000000,5.800000,9.100000e+03,0.000000e+00,3.860582e+06,95.000000
50%,2000.000000,6.500000,3.300000e+04,1.200000e+07,1.895543e+07,104.000000
75%,2010.000000,7.100000,9.300000e+04,3.200000e+07,7.262022e+07,116.000000
max,2020.000000,9.300000,2.400000e+06,3.560000e+08,2.847246e+09,366.000000

In [34]:
df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000,46998772,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000,58853106,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000,538375067,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000,83453539,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000,39846344,Orion Pictures,98.0

In [40]:
# the total gross at each year
df.groupby(["year"])["gross"].sum()

year
1980     2483666964
1981     2520064889
1982     3187580517
1983     2750004626
1984     3533092196
1985     3691509283
1986     3647511836
1987     4033434255
1988     4840385631
1989     6087250779
1990     6804235860
1991     6254770668
1992     7334167717
1993     8053959337
1994     9062925753
1995     9448305484
1996     9819527991
1997    13112275767
1998    11176023159
1999    13509638121
2000    13454129869
2001    15617625148
2002    17003436520
2003    17661932024
2004    18721747812
2005    17866609897
2006    18654070363
2007    20383671799
2008    21702162009
2009    23338680609
2010    23106595534
2011    24837686836
2012    25476190195
2013    25995848674
2014    26491482563
2015    26746011088
2016    28938844792
2017    28485248415
2018    28085289459
2019    30339653041
2020     2848298792
Name: gross, dtype: int64

In [42]:
# the most movie has the maximum gross at each year
df.groupby(["year"])["gross" ,"name"].max()

<ipython-input-42-668bbcad091b>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(["year"])["gross" ,"name"].max()

           gross                                name
year
1980   538375067                              Xanadu
1981   389925971                Zorro: The Gay Blade
1982   792910554                             Zapped!
1983   475106177                               Zelig
1984   333107271                       Winter Flight
1985   381906762               Young Sherlock Holmes
1986   357288178                          Youngblood
1987   320145693                        Withnail & I
1988   354825435                          Young Guns
1989   474171806                       Worth Winning
1990   505703557                       Young Guns II
1991   520881154                     Year of the Gun
1992   504050219                           Zebrahead
1993  1033928303                   Wide Sargasso Sea
1994  1083720877                          Wyatt Earp
1995   394436586                           Wild Bill
1996   817400891                        White Squall
1997  2201647264                          Wishmaster
1998   553709788                         Zero Effect
1999  1027082707                            eXistenZ
2000   546388108                 You Can Count on Me
2001  1006968171                           Zoolander
2002   947495095                                 xXx
2003  1146030912                          Young Adam
2004   928760770                      You Got Served
2005   896678241                            Æon Flux
2006  1066179747                                Zoom
2007   960996492                              Zodiac
2008  1005973645          Zack and Miri Make a Porno
2009  2847246203                              [Rec]²
2010  1066970811  You Will Meet a Tall Dark Stranger
2011  1342321665                           Zookeeper
2012  1518815515                    Zero Dark Thirty
2013  1281508100                   Young & Beautiful
2014  1104054072                          Zombeavers
2015  2069521700                     Z for Zachariah
2016  1153337496                            Zootopia
2017  1332698830          xXx: Return of Xander Cage
2018  2048359754                          Winchester
2019  2797501328              Zombieland: Double Tap
2020   461421559                   Wonder Woman 1984

In [47]:
#the gross for each company in every year
df.groupby(["year" ])["company","gross"].max()

<ipython-input-47-4d3399e4e9c7>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(["year" ])["company","gross"].max()

                                company       gross
year
1980                       Warner Bros.   538375067
1981                   Zoetrope Studios   389925971
1982                   Zoetrope Studios   792910554
1983                            unknown   475106177
1984                            unknown   333107271
1985                   Zoetrope Studios   381906762
1986                            unknown   357288178
1987               Zenith Entertainment   320145693
1988           Zanuck/Brown Productions   354825435
1989                            unknown   474171806
1990                            unknown   505703557
1991                       Warner Bros.   520881154
1992                 Zeta Entertainment   504050219
1993               Wildwood Enterprises  1033928303
1994                      WingNut Films  1083720877
1995  Warner Bros. Family Entertainment   394436586
1996  Warner Bros. Family Entertainment   817400891
1997                        ZapPictures  2201647264
1998        Zucker Brothers Productions   553709788
1999               Woodline Productions  1027082707
2000                     double A Films   546388108
2001                           i5 Films  1006968171
2002                       Warner Bros.   947495095
2003            Zentropa Entertainments  1146030912
2004                     Yash Raj Films   928760770
2005            Zentropa Entertainments   896678241
2006            Zentropa Entertainments  1066179747
2007                    Zazen Produções   960996492
2008              Yari Film Group (YFG)  1005973645
2009            Zentropa Entertainments  2847246203
2010                            unknown  1066970811
2011            Zentropa Entertainments  1342321665
2012      Zentropa International Norway  1518815515
2013           iDeal Partners Film Fund  1281508100
2014            Zentropa Entertainments  1104054072
2015                         i am OTHER  2069521700
2016              X-Filme Creative Pool  1153337496
2017                            thefyzz  1332698830
2018            Zentropa Entertainments  2048359754
2019                            unknown  2797501328
2020                            unknown   461421559

In [72]:
#the maximum gross for each company
df.groupby(["gross"])["company"].max()

gross
0                                    unknown
309                                 Daybreak
596           DENTSU Music And Entertainment
682                            Roxwell Films
790                Visual Arts Entertainment
                           ...
2048359754                    Marvel Studios
2069521700                         Lucasfilm
2201647264             Twentieth Century Fox
2797501328                    Marvel Studios
2847246203             Twentieth Century Fox
Name: company, Length: 7473, dtype: object

In [76]:
df.groupby(["company","name" ])["budget"].sum()

company                              name
"DIA" Productions GmbH & Co. KG      A Man Apart            36000000
"Weathering With You" Film Partners  Weathering with You    11100000
.406 Production                      Schizopolis              250000
1+2 Seisaku Iinkai                   Yi Yi                         0
10 West Studios                      What If...                    0
                                                              ...
unknown                              Streets                       0
                                     The Bear                 221000
                                     The Robinsons             10000
                                     The Wolfman                   0
                                     White Star               100000
Name: budget, Length: 7653, dtype: int64